@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap');
body {
	font-family: 'Zila+Slab', sans-sérif;
	text-align: center;
}

h1 {
	color: lightblue;
font-size: 20px;
background-color: rgba(51, 158, 245, 1.0);
text-align: center;
padding: 24px 48px;
 border-radius: 5px;
 box-shadow: 1px 5px 5px 2px;
}

#Hello {
	font-size: 26px;
}

#images-list {
	list-style: none;
    padding: 0;
}

#images-list li {
	display: inline;
}

div { 
width:75vw;
margin: 24px auto;
padding: 24px 48px;
border: 5px;
box-shadow: 1px 5px 5px 2px;
border-radius: 7px;
 }

a.button-blue {
	padding:  8px 8px;
	margin:  16px auto;
	border-radius: 6px;
	border: solid;
	border-color: ligntblue;
	color: darkblue;
	background-color: lightblue;

}

a.button-blue:hover {
	background-color: darkblue;
	color: lightblue;
}

.img-centered {
	border-radius:  60%;
}

#Welcome {
	font-size: 24px;
}
a {
	text-decoration: none;
}


#introduction-text {
	margin-bottom:  40px;
}
.list-inline li{
	display:  inline;
}
.list-inline {
	pading:  0px;
}

#Music {
	font-size:  24px;
}

#music-list {
	list-style: none;
    padding: 0;
}

#Litterature {
	font-size:  24px;
}

#Followlinks {
	font-size: 20px;
}

ul.Logos li {
	display:  inline;
	padding-right: 30px;
	font-size: 30px;
}

.fa-twitter-square:hover {
color: rgba(51, 233, 255, 1.0);
}
.fa-facebook-square:hover {
	color: rgba(51, 85, 255, 1.0);
}

.fa-instagram:hover {
	background:-webkit-linear-gradient(45deg, #F09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	background-clip:text;
	-webkit-backround-clip:text;
	color:white;
	padding: 1.5px;
}

.text-white {
	color: white;
}




